# =====================================
# General OS / Editor
# =====================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.env
functions/.env 

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# =====================================
# Flutter / Dart / Pub
# =====================================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# =====================================
# Android specific
# =====================================
# Build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Firebase configs
android/app/google-services.json
google-services.json.b64
firebase.json
serviceAccountKey.json
firebase-admin-script/serviceAccountKey.json
firebase-admin-script/

# Keystore & certificates (jangan pernah commit!)
*.jks
*.keystore
*.pem
upload-key.jks
upload-key.jks.b64
upload_certificate.pem

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS specific
macos/Pods/
macos/.symlinks/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# Linux specific
linux/flutter/ephemeral/

# Windows specific
windows/flutter/ephemeral/
